* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgb(36, 36, 36), rgb(161, 160, 160));
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.button {
  width: 150px;
  height: 50px;
  background-color: rgb(156, 155, 155);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.link {
  color: white;
  font-size: large;
}
